<a href="https://colab.research.google.com/github/VictoriaOAbel/Codveda/blob/main/Task_2_Data_Cleaning_and_Preprocessingipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv("adult.data", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       32561 non-null  int64
 1   1       32561 non-null  object
 2   2       32561 non-null  int64
 3   3       32561 non-null  object
 4   4       32561 non-null  int64
 5   5       32561 non-null  object
 6   6       32561 non-null  object
 7   7       32561 non-null  object
 8   8       32561 non-null  object
 9   9       32561 non-null  object
 10  10      32561 non-null  int64
 11  11      32561 non-null  int64
 12  12      32561 non-null  int64
 13  13      32561 non-null  object
 14  14      32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [ ]:
df = df.dropna(thresh=int(0.7 * len(df.columns)))

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
from sklearn.impute import SimpleImputer

num_cols = df.select_dtypes(include=["int64", "float64"]).columns

num_imputer = SimpleImputer(strategy="median")
df[num_cols] = num_imputer.fit_transform(df[num_cols])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       32561 non-null  float64
 1   1       32561 non-null  object
 2   2       32561 non-null  float64
 3   3       32561 non-null  object
 4   4       32561 non-null  float64
 5   5       32561 non-null  object
 6   6       32561 non-null  object
 7   7       32561 non-null  object
 8   8       32561 non-null  object
 9   9       32561 non-null  object
 10  10      32561 non-null  float64
 11  11      32561 non-null  float64
 12  12      32561 non-null  float64
 13  13      32561 non-null  object
 14  14      32561 non-null  object
dtypes: float64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
cat_cols = df.select_dtypes(include=["object"]).columns

cat_imputer = SimpleImputer(strategy="most_frequent")
df[cat_cols] = cat_imputer.fit_transform(df[cat_cols])

In [ ]:
Q1 = df[num_cols].quantile(0.25)
Q3 = df[num_cols].quantile(0.75)
IQR = Q3 - Q1

df = df[~((df[num_cols] < (Q1 - 1.5 * IQR)) |
          (df[num_cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

In [ ]:
# from sklearn.preprocessing import LabelEncoder

# le = LabelEncoder()
# for col in cat_cols:
    # df[col] = le.fit_transform(df[col])

In [ ]:
df_encoded = pd.get_dummies(df, columns=cat_cols, drop_first=True)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df_encoded[num_cols] = scaler.fit_transform(df_encoded[num_cols])

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_encoded[num_cols] = scaler.fit_transform(df_encoded[num_cols])

In [ ]:
df_encoded.info()
df_encoded.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 18997 entries, 2 to 32558
Data columns (total 96 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   0                               18997 non-null  float64
 1   2                               18997 non-null  float64
 2   4                               18997 non-null  float64
 3   10                              18997 non-null  float64
 4   11                              18997 non-null  float64
 5   12                              18997 non-null  float64
 6   1_ Federal-gov                  18997 non-null  bool
 7   1_ Local-gov                    18997 non-null  bool
 8   1_ Never-worked                 18997 non-null  bool
 9   1_ Private                      18997 non-null  bool
 10  1_ Self-emp-inc                 18997 non-null  bool
 11  1_ Self-emp-not-inc             18997 non-null  bool
 12  1_ State-gov                    18997 non-null  bool
 13  1_ Without-pay                  18997 non-null  bool
 14  3_ 11th                         18997 non-null  bool
 15  3_ 12th                         18997 non-null  bool
 16  3_ 9th                          18997 non-null  bool
 17  3_ Assoc-acdm                   18997 non-null  bool
 18  3_ Assoc-voc                    18997 non-null  bool
 19  3_ Bachelors                    18997 non-null  bool
 20  3_ Doctorate                    18997 non-null  bool
 21  3_ HS-grad                      18997 non-null  bool
 22  3_ Masters                      18997 non-null  bool
 23  3_ Prof-school                  18997 non-null  bool
 24  3_ Some-college                 18997 non-null  bool
 25  5_ Married-AF-spouse            18997 non-null  bool
 26  5_ Married-civ-spouse           18997 non-null  bool
 27  5_ Married-spouse-absent        18997 non-null  bool
 28  5_ Never-married                18997 non-null  bool
 29  5_ Separated                    18997 non-null  bool
 30  5_ Widowed                      18997 non-null  bool
 31  6_ Adm-clerical                 18997 non-null  bool
 32  6_ Armed-Forces                 18997 non-null  bool
 33  6_ Craft-repair                 18997 non-null  bool
 34  6_ Exec-managerial              18997 non-null  bool
 35  6_ Farming-fishing              18997 non-null  bool
 36  6_ Handlers-cleaners            18997 non-null  bool
 37  6_ Machine-op-inspct            18997 non-null  bool
 38  6_ Other-service                18997 non-null  bool
 39  6_ Priv-house-serv              18997 non-null  bool
 40  6_ Prof-specialty               18997 non-null  bool
 41  6_ Protective-serv              18997 non-null  bool
 42  6_ Sales                        18997 non-null  bool
 43  6_ Tech-support                 18997 non-null  bool
 44  6_ Transport-moving             18997 non-null  bool
 45  7_ Not-in-family                18997 non-null  bool
 46  7_ Other-relative               18997 non-null  bool
 47  7_ Own-child                    18997 non-null  bool
 48  7_ Unmarried                    18997 non-null  bool
 49  7_ Wife                         18997 non-null  bool
 50  8_ Asian-Pac-Islander           18997 non-null  bool
 51  8_ Black                        18997 non-null  bool
 52  8_ Other                        18997 non-null  bool
 53  8_ White                        18997 non-null  bool
 54  9_ Male                         18997 non-null  bool
 55  13_ Cambodia                    18997 non-null  bool
 56  13_ Canada                      18997 non-null  bool
 57  13_ China                       18997 non-null  bool
 58  13_ Columbia                    18997 non-null  bool
 59  13_ Cuba                        18997 non-null  bool
 60  13_ Dominican-Republic          18997 non-null  bool
 61  13_ Ecuador                     18997 non-null  bool
 62  13_ El-Salvador                 18997 non-null  bool
 63  13_ England                     18997 non-null  bool
 64  13_ France                      18997 non-null  bool
 65  13_ Germany                     18997 non-null  bool
 66  13_ Greece                      18997 non-null  bool
 67  13_ Guatemala                   18997 non-null  bool
 68  13_ Haiti                       18997 non-null  bool
 69  13_ Honduras                    18997 non-null  bool
 70  13_ Hong                        18997 non-null  bool
 71  13_ Hungary                     18997 non-null  bool
 72  13_ India                       18997 non-null  bool
 73  13_ Iran                        18997 non-null  bool
 74  13_ Ireland                     18997 non-null  bool
 75  13_ Italy                       18997 non-null  bool
 76  13_ Jamaica                     18997 non-null  bool
 77  13_ Japan                       18997 non-null  bool
 78  13_ Laos                        18997 non-null  bool
 79  13_ Mexico                      18997 non-null  bool
 80  13_ Nicaragua                   18997 non-null  bool
 81  13_ Outlying-US(Guam-USVI-etc)  18997 non-null  bool
 82  13_ Peru                        18997 non-null  bool
 83  13_ Philippines                 18997 non-null  bool
 84  13_ Poland                      18997 non-null  bool
 85  13_ Portugal                    18997 non-null  bool
 86  13_ Puerto-Rico                 18997 non-null  bool
 87  13_ Scotland                    18997 non-null  bool
 88  13_ South                       18997 non-null  bool
 89  13_ Taiwan                      18997 non-null  bool
 90  13_ Thailand                    18997 non-null  bool
 91  13_ Trinadad&Tobago             18997 non-null  bool
 92  13_ United-States               18997 non-null  bool
 93  13_ Vietnam                     18997 non-null  bool
 94  13_ Yugoslavia                  18997 non-null  bool
 95  14_ >50K                        18997 non-null  bool
dtypes: bool(90), float64(6)
memory usage: 2.6 MB

,0,2,4,10,11,12
count,18997.000000,18997.000000,18997.000000,18997.0,18997.0,18997.000000
mean,0.345089,0.413411,0.476927,0.0,0.0,0.445788
std,0.197124,0.216981,0.195658,0.0,0.0,0.207889
min,0.000000,0.000000,0.000000,0.0,0.0,0.000000
25%,0.180328,0.255925,0.363636,0.0,0.0,0.368421
50%,0.327869,0.403904,0.454545,0.0,0.0,0.368421
75%,0.491803,0.533695,0.636364,0.0,0.0,0.368421
max,1.000000,1.000000,1.000000,0.0,0.0,1.000000

In [ ]:
df_encoded.to_csv("df_encoded.csv", index=False)